{
 :devices {
           :apple [{:vendor_id 1452, :product_id 636}]
           :akko [{:vendor_id 3141, :product_id 30264}] 

           :all [
                 {:vendor_id 1452, :product_id 636}
                 {:vendor_id 3141, :product_id 30264}
                 ]

           }

 :main [
        {:des "right shift to F18"
         :rules [:all
                 [:right_shift :f18]
                 ]
         }
        {:des "Apple specific mappings"
         :rules [:apple
                 [:caps_lock :escape]
                 ]
         }
        {:des "Akko specific mappings"
         :rules [:akko 
                 [:left_command :left_option]
                 [:left_option :left_command]
                 ]
         }
        ]
 }
